@using offlineMeeting.Models.Entity.Picture
@{
    ViewData["Title"] = "PicrtureOrner";
}
@section Scripts {
    <link rel="stylesheet" href="https://unpkg.com/smartphoto@latest/css/smartphoto.min.css">
    <script src="https://unpkg.com/smartphoto@latest/js/smartphoto.min.js"></script>
    <script src="~/js/PictureOrner.js" defer></script>
    <link rel="stylesheet" href="~/css/Picture/Index.css" asp-append-version="true" />
    <script>
         document.addEventListener('DOMContentLoaded', function () {
            new SmartPhoto(".js-smartPhoto");
        });
    </script>
}
@model offlineMeeting.Models.ViewModel.PictureViewModel
<!--問題の表示-->
<div id="picture">
    <p>番号：@(Model.PictureEntity?.ResultId)</p>
    <input id="picture_id" type="text" class="nodisplay" value="@(Model.PictureEntity?.ResultId)" />
    <p>@(Model.PictureEntity?.Picture)</p>
    @if (!string.IsNullOrEmpty(Model.PictureEntity?.PictureImage))
    {
        <div>
            <a href="@(Model.PictureEntity?.PictureImage)" class="picture_image_wrapper js-smartPhoto" data-caption="test" data-id="test" data-group="picture">
                <img src="@(Model.PictureEntity?.PictureImage)" class="picture_image" />
            </a>
        </div>
    }
    <p>ヒント</p>
    <p>@(Model.PictureEntity?.Hint)</p>
    <p>最高点:@(Model.PictureEntity?.MaxPoint)</p>
    <p>回答:@(Model.PictureEntity?.Answer)</p>
    <p>解説</p>
    <p>@(Model.PictureEntity?.Explanation)</p>
    <p><button id="send_picture" type="button" value="send_picture">問題送信</button></p>
</div>

<!--userの答えはここに列挙される-->
<div id="answer_list">
    @if (Model.AnswerEntityList != null)
    {
        foreach (AnswerEntity answerEntity in Model.AnswerEntityList)
        {
            <div class="answer">
                <div>
                    <a href="@(answerEntity.Image)" class="picture_image_wrapper js-smartPhoto" data-caption="test" data-id="test" data-group="picture">
                        <img src="@(answerEntity.Image)" class="picture_image" />
                    </a>
                </div>
                <div>
                    <p>@(answerEntity.UserName)</p>
                    <input type="text" class="user_cd nodisplay" />
                    <p>
                        <input type="number" class="point" min="0" max="@(answerEntity.MaxPoint)" value="@(answerEntity.Point)" />
                        <span>点</span>
                    </p>
                    <p>@(answerEntity.AnswerTime)</p>
                </div>
                <input type="text" class="answer_id nodisplay" value="@(answerEntity.ResultId)" />
            </div>

        }
    }
</div>
<div>
    <button id="send_points" type="button" value="send_points">ポイント確定</button>
</div>
<div>
    <br /><button id="back" type="button">戻る</button>
</div>